* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #f9fafc;
    color: #1e293b;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    background: rgb(13, 15, 37);
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

nav h2 {
    font-weight: 700;
    color: rgb(252, 244, 244);
}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    background: #d4d4e1;
    color: #0d029e;
    font-weight: 600;
    transition: 0.3s ease;
}

nav ul li a:hover {
    color: #2563eb;
}

/* HERO SECTION */
header {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(135deg, #2563eb, #7c3aed);
    color: white;
}
header h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 800;
}

header p {
    font-size: 18px;
    color: #cbd5e1;
    letter-spacing: 1px;
}

/* SECTIONS */
section {
    max-width: 1000px;
    margin: 60px auto;
    padding: 50px;
    background: lightblue; 
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.05);
}

h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #1e293b;
}

/* SIMPLE SKILLS DESIGN */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.skill-card {
    padding: 15px 25px;
    background: #dbeafe;
    border-radius: 30px;
    font-weight: 500;
    color: #3730a3;
    transition: 0.3s;
}

.skill-card:hover {
    background: #c7d2fe;
    transform: translateY(-3px);
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    font-size: 14px;
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid #2563eb;
    box-shadow: 0 0 0 3px rgba(37,99,235,0.1);
}

button {
    padding: 14px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1d4ed8;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 25px;
    background: #0f172a;
    color: #94a3b8;
    margin-top: 60px;
}
